* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header .active {
  color: rgba(19, 15, 64, 1);
}

#carouselExampleCaptions .dish-img {
  height: 90vh;
}

#breadcrumb {
  background: rgba(214, 48, 49, 1);
  display: flex;
  align-items: center;
  text-align: center;
  background-position: center;
  height: 20vh;
}

#breadcrumb .active {
  color: rgba(45, 52, 54, 1);
}

.zoom-img {
  transition: 0.3s ease-in-out;
}
.zoom-img:hover {
  transform: scale(1.5);
}

.table thead tbody {
  border-collapse: collapse;
}
