* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#breadcrumb {
  background: url('../img/breadcrumb.jpg');
  background-repeat: no-repeat;
  height: 40vh;
  background-size: cover;
  color: white;
  background-position: center;
}

.text-break {
  white-space: pre-line;
}

footer {
  background: rgba(0, 0, 0, 0.4) url('../img/footer.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  background-blend-mode: multiply;
}
