* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active:hover {
  color: rgba(0, 148, 50, 1);
}

.banner_section {
  background: rgba(0, 0, 0, 0.4) url('../img/banner-0.avif');
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar .container-fluid ul li a:hover {
  transform: scale(1.15);
  color: red !important;
}

#breadcrumb {
  background: rgba(0, 0, 0, 0.4) url('../img/breadcrumb.jpg');
  background-repeat: no-repeat;
  height: 40vh;
  background-size: cover;
  color: white;
  background-position: top right;
  display: flex;
  justify-content: center;
  align-items: center;
  background-blend-mode: multiply;
}

.text-break {
  white-space: pre-line;
}

.zoom-img {
  transition: 0.3s ease-in-out;
}

.zoom-img:hover {
  transform: scale(1.25);
}

/* footer {
  background: rgba(0, 0, 0, 0.4) url('../img/footer.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  background-blend-mode: multiply;
} */

.footer-img {
  height: 10vh;
}
